<div class="h-100">
    <div class="row h-100">
        <div class="col-3 h-100">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-9 d-flex align-items-center content justify-content-center">
            <div class="container content">
                <div class="row g-5">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="bg-dark d-flex flex-column justify-content-center align-items-center pt-5 pb-5">
                            <div class="text-warning">
                                <i class="fa-solid fa-user-group"></i>
                                <span class="ps-3">Users</span>
                            </div>
                            <span  class="ps-5 text-warning">100</span>
                        </div>                    
                    </div>
            
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="bg-dark d-flex flex-column justify-content-center align-items-center pt-5 pb-5">
                            <div class="text-warning">
                                <i class="fa-solid fa-user-tie"></i>
                                <span class="ps-3">Admins</span>
                            </div>
                            <span class="ps-5 text-warning">100</span>
                        </div>                    
                    </div>
            
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="bg-dark d-flex flex-column justify-content-center align-items-center pt-5 pb-5">
                            <div class="text-warning">
                                <i class="fa-brands fa-product-hunt"></i>
                                <span class="ps-3">Products</span>
                            </div>
                            <span class="ps-5 text-warning">100</span>
                        </div>                    
                    </div>
            
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="bg-dark d-flex flex-column justify-content-center align-items-center pt-5 pb-5">
                            <div class="text-warning">
                                <i class="fa-solid fa-list"></i>
                                <span class="ps-3">Category</span>
                            </div>
                            <span class="ps-5 text-warning">100</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

