<div class="container border p-5 w-50 bg-dark mt-5">
    <span class="d-block text-center">{{user.img}}</span>
    <h1 class="text-center text-warning">{{user.name}}</h1>
    <div class="info d-flex flex-column">
        <div>
            <strong class="text-warning">Email:</strong> <span class="text-white">{{user.email}}</span>
        </div>
        <div>
            <strong class="text-warning">User name:</strong> <span class="text-white">{{user.username}}</span>
        </div>
        <div>
            <strong class="text-warning">Phone:</strong> <span class="text-white">{{user.phone}}</span>
        </div>
    </div>
</div>