
  <div class="container-fluid landing pt-5">
    <div class="card mb-3 border-0">
      <div class="row g-0">
        <div class="col-md-6">
          <img src="homePage.png" class="img-fluid rounded-start">
        </div>
        <div class="col-md-6 d-flex align-items-center">
          <div class="card-body">
            <h1 class="card-title pb-2">Welcome To Our Store</h1>
            <a class="btn btn-warning d-block mt-5 pt-3 pb-3" routerLink="/products">Start Shopping</a>
          </div>
        </div>
      </div>
    </div>
  </div>

