<div class="d-flex flex-column flex-shrink-0 p-3 bg-dark text-warning h-100">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4 text-white">Admin Board</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link text-warning" aria-current="page">
            <svg class="bi pe-none me-2" width="16" height="16"></svg>
            <a routerLink="/homeboard"><i class="fa-solid fa-house"></i> <span class="text-white ms-2">Home</span></a>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-warning" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"></svg>
          <a routerLink="/userboard" routerLinkActive="text-warning"><i class="fa-solid fa-user-group"></i> <span class="text-white ms-2">Users</span></a>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis text-warning">
          <svg class="bi pe-none me-2" width="16" height="16"></svg>
          <i class="fa-solid fa-user-tie"></i> <span class="text-white ms-2">Admins</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis text-warning">
          <svg class="bi pe-none me-2" width="16" height="16"></svg>
          <i class="fa-brands fa-product-hunt"></i> <span class="text-white ms-2">Products</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis text-warning">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          <i class="fa-solid fa-list"></i> <span class="text-white ms-2">Category</span>
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>